@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.circle-spin {
    position: absolute;
    top : 57%;
    left :30%;
    transform:  translate(-76%, -50%) rotate(0);
    width: 30%;
    height: 27%;
    border-radius: 50%;
    border-top: .2rem solid darkred;
    border-bottom: .2rem solid darkred;
    border-left: .2rem solid darkturquoise;
    border-right: .2rem solid darkturquoise;
}


.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

